$color-light-green: #7ed56f;
$color-medium-green: #55c57a;
$color-dark-green: #28b485;
$color-black: #000;
$color-grey: #777;
$color-grey-light: #f7f7f7;

$grid-max-width: 114rem;
$grid-gutter-right: 6rem;
$grid-gutter-bottom: 8rem;

$default-font-size: 1.6rem;
$secondary-font-size: 1.5rem;
