.row {
  max-width: 114rem;
}

.grid-row {
  text-align: center;
  max-width: $grid-max-width;
  margin: 0 auto;

  &:not(:last-child) {
     margin-bottom: $grid-gutter-bottom;
  }

  .col-1-of-2 {
    @include col(1, 2, left, $grid-gutter-right);
  }

  .col-2-of-2 {
    @include col(1, 2, none, 0);
  }

  .col-1-of-3, .col-2-of-3 {
    @include col(2, 4, left, $grid-gutter-right);
  }

  .col-3-of-3 {
    @include col(2, 2, right, 0);
  }

  .col-1-of-4, .col-2-of-4, .col-3-of-4 {
    @include col(3, 4, left, $grid-gutter-right);
  }

  .col-4-of-4 {
    @include col(3, 4, right, 0);
  }

}
