.card {
    border: 0;
    background-color: $color-grey-light;
    perspective: 80rem;
    -moz-perspective: 80rem;
    position: relative;
    height: 50rem;
    @media(max-width: 575px) {
        width: 80%;
        max-width: 35rem;
        margin: 0 auto;
    }

    &__side {
        height: 50rem;
        width: 100%;

        position: absolute;
        transition: all 0.8s ease;
        backface-visibility: hidden;
        border-radius: 8px;
        box-shadow: 0.2rem 1.5rem 4rem 0.5rem rgba($color-black, 0.2);

        &--front {
            background-color: #fff;

            .card-header {
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
                height: 23rem;
                border: 0;
                backface-visibility: hidden;
            }

            .img-header-1 {
                background: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/webp/nat-5.webp");
                background-blend-mode: multiply;
                background-position: center;
                background-size: cover;
            }

            .img-header-2 {
                background: linear-gradient(to right bottom, $color-light-green, $color-dark-green), url("../img/webp/nat-6.webp");
                background-blend-mode: multiply;
                background-position: center;
                background-size: cover;
            }

            .img-header-3 {
                background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/webp/nat-7.webp");
                background-blend-mode: multiply;
                background-position: center;
                background-size: cover;
            }

            .card-body {
                position: relative;
                padding: 2rem;

                @media (max-width: 575px) {
                    padding: 2rem 6rem;
                }

                p {
                    text-transform: uppercase;
                    position: absolute;
                    right: 2rem;
                    padding: 0.3rem 0.5rem;
                }

                p:nth-child(1) {
                    top: -10rem;
                }

                p:nth-child(2) {
                    top: -5rem;
                }

                &-sea {
                    p {
                        background: linear-gradient(to right bottom, rgba(#ffb900,.7), rgba(#ff7730,.7));
                    }
                }

                &-forest {
                    p {
                        background: linear-gradient(to right bottom, rgba($color-light-green, 0.7), rgba($color-dark-green, 0.7));
                    }
                }

                &-snow {
                    p {
                        background: linear-gradient(to right bottom, rgba(#2998ff,.7), rgba(#5643fa,.7));
                    }
                }
            }
        }

        &-back {
            transform: rotateY(180deg);
            border-radius: 8px;

            &--orange {
                background: linear-gradient(to right bottom, #ffb900, #ff7730);
            }

            &--green {
                background: linear-gradient(to right bottom, $color-light-green, $color-dark-green);
            }

            &--blue {
                background: linear-gradient(to right bottom, #2998ff, #5643fa);
            }

            .card-cta {
                width: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side-back {
        transform: rotateY(0);
    }
}
