.popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color-black, 0.7);
    backdrop-filter: blur(0.2rem);
    visibility: hidden;
    opacity: 0;
    z-index: -5;
    transition: all 0.4s;

    &__content {
        min-width: 75%;
        max-width: 114rem;
        margin: 0;
        @media (max-width: 575px) {
            min-width: 85%;
        }
        background: #fff;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        border-radius: 3px;
        // overflow: hidden;
        z-index: -3;
        opacity: 0;
        transition: all 0.4s;

        & > * {
            padding: 0;
        }

        .popup__close {
            &:link,
            &:visited {
                z-index: 120;
                line-height: 1;
                position: absolute;
                top: 1rem;
                right: 2rem;
                font-size: 3rem;
                color: $color-grey;
                background-clip: content-box;
                text-decoration: none;
                transform: scale(0.9);
                opacity: 1;
                transition: all 0.25s;
            }

            &:active,
            &:hover {
                transform: scale(1.1);
            }

            &:active {
                opacity: 0;
            }
        }

        &__images {
            & > * {
                height: 50%;
                width: 100%;

                @media (max-width: 575px) {
                    display: inline-block;
                    height: 100%;
                    width: 50%;
                    float: left;
                }
            }
        }

        &__info {
            padding: 6rem;

            @media (max-width: 575px) {
                padding: 2rem;
            }
            position: relative;

            .header-tertiary {
                font-size: 1.4rem;
                line-height: 1.7;
            }

            .info__columns {
                font-size: 1.3rem;
                column-count: 2;
                column-fill: balance;
                column-gap: 4rem;
                column-rule: 2px solid $color-grey-light;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                -ms-hyphens: auto;
                hyphens: auto;
            }
        }
    }

    &:target {
        visibility: visible;
        opacity: 1;
        z-index: 200;

        .popup__content {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
            z-index: 220;
        }
    }
}
