*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  Box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  padding: 3rem;
  Box-sizing: border-box;
  overflow-x: hidden;
}
