body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    color: $color-grey;
    line-height: 1.7;
}

.header-primary {
    color: #fff;
    text-transform: uppercase;

    &--main {
        @include header-style(block, 6rem, 400, 3.5rem);

        @include responsive(tab-port) {
            @include header-style(block, 5rem, 400, 2rem);
        }
    }

    &--sub {
        @include header-style(block, 2rem, 700, 1.74rem);

        @include responsive(phone) {
            @include header-style(block, 1.8rem, 400, 0.8rem);
        }
    }
}

.header-secondary {
    text-transform: uppercase;
    @include header-style(inline-block, 3.5rem, 700, 0.07rem);
    background: linear-gradient(to right bottom, $color-light-green, $color-medium-green, $color-dark-green);
    -webkit-background-clip: text;
    color: transparent;

    @include responsive(tab-port) {
        @include header-style(inline-block, 3rem, 700, 0.07rem);
    }

    @include responsive(phone) {
        @include header-style(inline-block, 2.5rem, 700, 0.07rem);
    }

    transition: all 0.15s;

    &:hover {
        transform: skewX(20deg) scale(1.05) rotate(2deg);
        text-shadow: 0.8rem 0.8rem 1.2rem rgba($color-grey, 0.7);
    }
}

.header-tertiary {
    text-transform: uppercase;
    @include header-style(block, $default-font-size, 700, 0.05rem);

    @include responsive(tab-port) {
        @include header-style(block, 1.4rem, 700, 0.05rem);
    }
}

p {
    font-size: $default-font-size;

    @include responsive(tab-port) {
        font-size: 1.2rem;
    }
}

.features-section {
    p {
        font-size: $secondary-font-size;

        @include responsive(tab-port) {
            font-size: 1.2rem;
        }
    }
}

.btn {
    font-size: $default-font-size;

    @include responsive(tab-port) {
        font-size: 1.2rem;
    }
}

.far,
.fas {
    background: linear-gradient(to right bottom, $color-light-green, $color-medium-green, $color-dark-green);
    -webkit-background-clip: text;
    color: transparent;
}

ul {
    list-style: none;
}

.tours-section {

    .card-body {
        color: #fff;

        p {
            font-size: 2.8rem;

            @include responsive(tab-port) {
                font-size: 2rem;
            }

            @include responsive(tab-port) {
                font-size: 1.7rem;
            }
        }
    }

    .tours__list {
        color: $color-grey;

        &__item {
            font-size: $secondary-font-size;
            padding: 1rem 0;
        }

        @include responsive(tab-port) {
            font-size: 1.2rem;
        }

        @include responsive(phone) {
            font-size: 1rem;
        }
    }

    li:not(:last-child) {
        border-bottom: 1px solid rgba($color-grey, 0.2);
    }

    .card-cta {
        color: #fff;
        text-transform: uppercase;

        p:nth-child(1) {
            font-size: 1.4rem;

            @include responsive(phone) {
                font-size: 1rem;
            }
        }

        p:nth-child(2) {
            font-size: 6rem;
            font-weight: lighter;

            @include responsive(tab-port) {
                font-size: 5rem;
            }

            @include responsive(phone) {
                font-size: 4rem;
            }
        }
    }

}

.story {
    &__shape {
        font-size: 1.7rem;

        @include responsive(tab-port) {
            font-size: $secondary-font-size;
        }

        text-transform: uppercase;
        color: #fff;
    }

    &__text {
        text-align: left;
    }
}

.booking__card--content-form {
    font-family: inherit;

    .form-group {
        .label {
            font-size: $default-font-size;
            color: $color-grey;
            font-weight: 500;

            @include responsive(phone) {

            }
        }

        .form-control, .radio__group {
            font-size: $secondary-font-size;
        }

        .radio__group {
            color: $color-grey-light;
        }

        @include responsive(phone) {
            .label {
                font-size: 1.4rem;
            }

            .form-control, .radio__group {
                font-size: 1.3rem;
            }
        }

        .btn-one {
            color: #fff;
        }
    }
}

.footer {
    font-size: 1.4rem;

    @include responsive(phone) {
        font-size: 1.2rem;
    }
    color: #ddd;

    ul {
        text-transform: uppercase;
    }
}
