.about-section {
    background-color: $color-grey-light;
    padding: 35rem 0;
    margin-top: -25vh;
    text-align: center;
    @include responsive(tab-port) {
        padding: 40rem 6rem 30rem;
    }

    @media (max-width: 768px) {
        padding: 35rem 6rem 40rem;
    }
}

.features-section {
    background: linear-gradient(to right bottom, rgba($color-light-green,.7), rgba($color-dark-green,.7)), url("../img/nat-4.jpg");
    background-size: cover;
    background-position: top;
    padding: 30rem 0;
    margin-top: -25vh;
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
    @media (max-width: 991px) {
        padding: 30rem 10rem;
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
    }
    // transform: skewY(-7deg); //Rotate the whole section
    .row {
        justify-content: center;
        // transform: skewY(7deg); //Rotate the whole section back
        & > * {
            background-color: rgba(255,255,255,0.8);
            box-shadow: 0 1.5rem 4rem 0.4rem rgba($color-black, 0.2);
            padding: 4rem 2.5rem;
            border-radius: 5px;
            text-align: center;

            &:not(:last-child) {
                margin: 0 6rem 0 0;
            }

            @media (max-width: 991px) {
                padding: 4rem 6rem;
                &:not(:last-child) {
                    margin: 0 0 6rem 0;
                }
                max-width: 50rem;
            }

            transition: all 0.25s;

            &:hover {
                transform: translateY(-2rem) scale(1.1);
            }
        }
    }
}

.tours-section {
    background-color: $color-grey-light;
    text-align: center;
    margin-top: -20vh;
    padding: 30rem 0 15rem;

    .row {
        .col {
            padding: 0;

            &:not(:last-child) {
                padding: 0 6rem 0 0;
            }
        }
    }
}

.stories-section {
    padding: 10rem 0 15rem;
    text-align: center;
    position: relative;
}

.booking-section {
    padding: 15rem 0;
    background: linear-gradient(to right bottom, $color-light-green, $color-medium-green, $color-dark-green);

    @media (max-width: 575px) {
        padding: 15rem 5rem;
    }

    .booking__card {
        // background: linear-gradient(105deg, rgba(#fff, 0.7) 0%, rgba(#fff, 0.8) 65%, transparent 65%), url("../img/nat-10.jpg");
        background: url("../img/nat-10.jpg");
        background-size: cover;
        background-position: top;
        max-width: 114rem;

        @media (max-width: 575px) {
            max-width: 50rem;
        }
        padding: 0;
        border: none;
        border-radius: 4px;
        box-shadow: 0.2rem 1.2rem 4rem 1rem rgba($color-black, 0.4);
        position: relative;
    }
}
